* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 60px;
    font-family: 'Work Sans', sans-serif;
    margin-top: 20px;
}

p {
    color: whitesmoke;
    text-align: center;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    margin-top: 20px;
}

.login {
    text-align: center;
    margin-top: 40px;
}

.login p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.login p a:hover {
    text-decoration: underline;
}

ul{
    color: whitesmoke;
    text-align: center;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    margin-top: 40px;
}

li {
    margin-top: 10px;
}
