*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a; 
    
  }

  h1{
    color:whitesmoke;
    text-align: center;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Work Sans', sans-serif;
  }

  p {
    color: whitesmoke;
    text-align: center;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    position: absolute;
    top: calc(50% + 60px);
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
  }

.login {
    position: absolute;
    top: calc(50% + 120px);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .login p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.login p a:hover{
    text-decoration: underline;
}






